{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "dist",
    ".eslintrc"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react-refresh",
    "simple-import-sort"
  ],
  "rules": {
    "react-refresh/only-export-components": [
      "off",
      {
        "allowConstantExport": true
      }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-console": "error",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
